
.teamcard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 250px;
    max-height: 565px;
    color: #3B44F6;
    text-align: center;
    padding: 6px;
    border: 1px solid rgba(255,255,255,0.3);
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(3 px);


}
.teamcard img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px 0px;
}
.teamcard h3{
    font-size: 32px;
    font-weight: 600;
}

.teamcard p{
    color: #000;
    font-size: 20px;
    margin: 10px auto;
    max-width: 335px;
}
.card-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url('https://i.ibb.co/sp7ZxdQ/ezgif-com-gif-maker-7.gif');
    /* background: url('https://cdn.dribbble.com/userupload/2775721/file/original-e8c27e5d40d333d0c5c3b1d96597d08e.gif?compress=1&resize=1024x768'); */
    background-size: contain;
    background-repeat: repeat-y;
}