

#thumbnail {

    height: 400px;
    display: flex;
    flex-direction: column;

    /* background-image: url('./banner_temp.png'); */
    background-image: url('https://i.ibb.co/kS7jYQS/ezgif-com-gif-maker-8.gif');
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#thumbnail h1 {
    font-size: 3em;
    color: purple;
    z-index: 1;
}
#thumbnail h2{
    font-family: 'Bebas Neue',sans-serif;
    font-size: 4em;
}
#thumbnail a{
    /* height: 2em; */
    padding:12px 18px;
    border-radius: 12px;
    border: none;
    background-color:  #2e6072;
    color: white;
}

#thumbnail a:hover{
    background-color: #355764;
    cursor: pointer;

}
.box {
    /* background-color: rgba(0, 0, 0, 0.137); */
    position: relative;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 100%;
    background: linear-gradient(white, SILVER, rgb(22, 117, 113),purple);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: radial-gradient(#FFF, SILVER);
}

.eventcard img{
    border-radius: 0%;
}
.eventcard{
    max-width:370px;
}

#eventTitle{
    color: #355764;
    font-family: 'Poppins', cursive;
    font-weight: 500;
    font-size: 2em;
}