#welcome p,h4{
    margin: 0px;
}
/* #thumbnail-img{
height: 325px;
width: auto;
} */
.thumbnail-img1{
margin-top: 70px;
    height: 180px;
width: auto;
}

.welcome, .hod-slide{
    margin: 0px;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('./imgs/bg.jpg') ; */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('https://i.ytimg.com/vi/kWHcMeE4C5M/maxresdefault.jpg') ;
    background-size: cover;
}
#particles-js{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5em;
}
#particles-js span{
    font-size: 1.5rem;
    font-family: 'Roboto', 'sans-serif';
}
#particles-js h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}
#Register-btn{
    padding: 10px 60px;
    font-size: 1.2rem;
    background-color: blanchedalmond;
    color: black;
    border-radius: 45px;
    cursor: pointer;
    text-decoration: none;

}
#Register-btn:hover{
    background-color: #355764;
    color: whitesmoke;
}
#hod-img{
    height: 360px;
    width: 360px;
    border-radius: 50%;
}
