  .spotSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .spotSlide img {
    width: 200px;
    height: 100%;
    /* padding: 20px; */
  }
  .spotTitle {
    color: #3B44F6;
  }
  
